# --- Directorios de Compilación ---
build/
bin/
out/
.gradle/

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr

# --- Reportes de Serenity---
target/
test-results/
aggregate-results/

# --- Sistema Operativo ---
.DS_Store
Thumbs.db

# --- Otros ---
.log
*.swp
gradle.xml
misc.xml
vcs.xml